logs/
npm-debug.log
client/node_modules/
/node_modules/
coverage/
../.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
!.autod.conf.js
/dist
app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
